extends layout

block content
    .wrapper
        #container
            h1 DuckDuckStart
            h2 403!
            p Sorry! We don't seem to have the necessary permissions to let you view this file.
