extends layout

block content
    .wrapper
        #container
            h1 DuckDuckStart
            h2 500!
            p Sorry! Something went wrong on our end. We are working quickly to fix this issue!
