extends layout

block content
    .wrapper
        #container
            h1 DuckDuckStart
            h3 Set your default browser search!
            hr
            h3 Firefox
            p Follow the instructions on <a href="https://support.mozilla.org/en-US/kb/add-or-remove-search-engine-firefox#w_add-a-search-engine">adding a search engine</a> to Firefox by Mozilla.
            h3 Chrome
            p Just by visiting the site, Chrome should have already stored it as a search engine. Just go to Chrome's search engine settings and find duckduckstart.com in that list, then click "Make Default" next to it.
            p If that didn't work try clicking 
                a(href='#', onclick='window.external.AddSearchProvider("https://duckduckstart.com/opensearch.xml");') here
                // a(target="_blank", href="javascript:;", onclick="nui(); return false;", class="btn") here
                |  to force it to be added. Alternatively try this link too
                a(href="javascript:installSearchEngine('https://duckduckstart.com/opensearch.xml')") here
                or here too
                a(href="#", onclick="window.external.AddSearchProvider('https://duckduckstart.com/opensearch.xml');") here
            hr

            h3 Other Browsers & Launchers
            p DuckDuckStart should be easy to add to any browser or launcher (Alfred, GnomeDo, etc.) that supports custom searches.
            p Just use this search string in your browser/launcher's search engine options to create a custom search:
            code https://duckduckstart.com/?query=SEARCH
            br()
            br()
            p (Replace SEARCH with whatever your browser/launcher expects the placeholder to be).
            p Please note: DuckDuckStart accepts both POST and GET requests. However, POST is strongly preferred, as it prevents leaking of search queries that are sent to StartPage.

            hr
            h3 Using a custom search engine
            p If you would like to use another search engine other than Startpage (Like Bing or Yahoo), simply put the url and a
                code  %q
                |  where the search goes, like so:
            code https://duckduckstart.com/?query=searchstring&searchengine=http://searchengine.com/?query=%q
            p For example, if you use Chrome and want to default your search to Yahoo, use this:
            code https://duckduckstart.com/?query=%s&searchengine=http://search.yahoo.com/search?q=%q
            p Make sure to put the
                code  http://
                |  or the
                code  https://
                |  before the URL.
            p Also be aware that DuckDuckStart will default to startpage.com if there is an error in the syntax.
        .push
