.footer
    .footertext Operated by 
        a(href="https://yanovich.net/") yano
        |  | Originally and lovingly built by 
        a(href="https://twitter.com/mcrittenden") Mike Crittenden
        |    | 
        a(href="https://github.com/myano/duckduckstart") Source on GitHub
        |    | 
        a(href="/privacy") Privacy
