doctype html
html
    head(profile='http://a9.com/-/spec/opensearch/1.1/')
        meta(charset='utf-8')
        title DuckDuckStart
        link(rel='search', type='application/opensearchdescription+xml', href='/opensearch.xml', title='DuckDuckStart')
        link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.deep_orange-deep_purple.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='DuckDuckStart lets you use DuckDuckGo for !bang queries and StartPage for everything else, so you get the best of both worlds!')
        meta(name='keywords', content='search, search engine, new search engine, web search, privacy, metasearch, proxy search, image search, video search, news search, search engine privacy, private, engine, duckduckgo, ddg, duckduckgo.com, ddg.gg, startpage, startpage.com, ixquick, ixquick.com, duck.co, duck duck go, start page, search engine features, clever search engine, privacy respecting')
        meta(name="twitter:card" content="app")
        meta(name="twitter:site" content="@duckduckstart")
        meta(name="twitter:text:title" content="DuckDuckStart")
        meta(name="twitter:description" content="Use DuckDuckGo for !bangs and StartPage for everything else.")
        meta(name="twitter:app:name:iphone" content="DuckDuckStart")
        meta(name="twitter:app:id:iphone" content="")
        meta(name="twitter:app:name:ipad" content="DuckDuckStart")
        meta(name="twitter:app:id:ipad" content="")
        meta(name="twitter:app:name:googleplay" content="DuckDuckStart")
        meta(name="twitter:app:id:googleplay" content="")
        link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        meta(property="og:title" content="DuckDuckStart")
        meta(property="og:site_name" content="DuckDuckStart")
        meta(property="og:url" content="https://duckduckstart.com/")
        meta(property="og:description" content="Use DuckDuckGo for !bangs and StartPage for everything else.")
        meta(property="og:type" content="website")
        meta(property="og:image" content="https://duckduckstart.com/ms-icon-310x310.png")
        script.
            function focusSearch(){document.getElementById("search-input")&&document.getElementById("search-input").focus()}function installSearchEngine(e){window.external&&"AddSearchProvider"in window.external?window.external.AddSearchProvider(e):alert("This browser does not support adding search engines. Try Firefox!")} 
        noscript.
            <link rel="stylesheet" href="/stylesheets/style.css">
        style.
            @font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')}.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-moz-font-feature-settings:'liga';-moz-osx-font-smoothing:grayscale}
            a,body{color:#888}body{font-size:16px;}form#search-form input{font-family:Belgrano,serif}form#search-form:after{clear:both}.footer,body{text-align:center}body{background:url(data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAAEwlQF3AAAADFBMVEXu7u7v7+/4+Pj5+fn77xu5AAAAd0lEQVQ4jWOofM5wO5dh2SwGNMa8CoZtNxgyl6AzZmUum8GQu+12DsPzeZVPsHJv5wLVLZsF1FL5HKiJQi4IJYB4IPQAJAdCE4iSsiRLF6bUNojcBYZ5ELkChkyI3IKRKDULyoIihqf7opERQ/60n8hoVP3QUg8AFCZGWQ4IlAsAAAAASUVORK5CYII=)}#search-content{margin-left:auto;margin-right:auto;width:auto}a:hover{color:#d83c3c}#search-container{margin-top:50px;display:inline-block;position:relative;height:98%;width:auto}#search-container p{margin-top:45px}#search-middle{display:table-cell;vertical-align:middle}h1{font-family:Belgrano,serif;color:#222;font-weight:400;font-size:60px;margin-top:0}form#search-form:after,form#search-form:before{content:"";display:table}form#search-form{zoom:1;width:auto;padding:15px;margin:0 auto;background:rgba(0,0,0,.2);-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-moz-box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2);box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2)}form#search-form input{display:inline-block;width:75%;height:20px;padding:10px 5px;float:center;font-size:15px;border:0;background:#eee;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}form#search-form input:focus{outline:0;background:#fff;-moz-box-shadow:0 0 2px rgba(0,0,0,.8) inset;-webkit-box-shadow:0 0 2px rgba(0,0,0,.8) inset;box-shadow:0 0 2px rgba(0,0,0,.8) inset}form#search-form input::-webkit-input-placeholder{color:#999;font-weight:400;font-style:italic}form#search-form input:-moz-placeholder{color:#999;font-weight:400;font-style:italic}form#search-form input:-ms-input-placeholder{color:#999;font-weight:400;font-style:italic}.footer{bottom:0;position:fixed;width:100%;left:0;background:#fff;border-top:1px solid #ccc;height:50px;z-index:100}.wrapper{min-height:100%;height:auto!important;height:100%;margin-top:auto;margin-right:auto;margin-left:auto;position:relative;}code{color:#000}.privacy{display:block;font-size:12px;}#container{padding-top:75px;width:500px;text-align:left;height:100%;margin-left:auto;margin-right:auto}#container h1{text-align:center}.footertext{padding-top:10px;}.push{height:75px;clear:both}


    body(onload='focusSearch()')
        // favicon.ico is by Will Clayton from flickr.com: https://www.flickr.com/photos/spool32/158300831/
        // At time of retrieval it is licensed under CC BY 2.0: https://creativecommons.org/licenses/by/2.0/
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header(class="mdl-layout__header")
                .mdl-layout__header-row
                    span.mdl-layout-title DuckDuckStart
                        // a(href="/") DuckDuckStart
                    div(class="mdl-layout-spacer")
                    nav(class="mdl-navigation")
                        a(class="mdl-navigation__link", href="/") Home
                        // a(class="mdl-navigation__link", href="", style="color:dark orange") About

            .mdl-layout__drawer
                span.mdl-layout-title DuckDuckstart
                nav(class="mdl-navigation")
                    a(class="mdl-navigation__link" href="/") Home
                    a(class="mdl-navigation__link" href="https://duckduckgo.com/") DuckDuckGo
                    a(class="mdl-navigation__link" href="https://www.startpage.com/") StartPage
                    a(class="mdl-navigation__link" href="/browser") Tell Your Browser

        block content

        include footer

        script(src="/js/material.min.js")
