@font-face {
  font-family: 'Belgrano';
  font-style: normal;
  font-weight: 400;
  src: local('Belgrano'), local('Belgrano-Regular'), url(https://duckduckstart.com/fonts/9nICvxZmkDv7_ninPVYjofesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
